* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 18px;
  margin: 0;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

.top, .footer {
  background-color: #1F2937;
  color: #f9faf8;
}