* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  margin: 0;
}

.top, .footer {
  background-color: #1F2937;
  color: #f9faf8;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.header .logo {
  font-size: 24px;
  font-weight: bold;
  display: flex;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .nav ul, .info ul {
  list-style: none;
  display: flex;
  padding: 0;
}

.header .nav li a {
  text-decoration: none;
  color: #e5e7eb;
  margin-left: 30px;
}

.hero {
  padding: 120px 0;
  display: flex;
}

.hero .content {
  flex: 0 1 auto;
  width: 50%;
}

.hero .title {
  font-size: 56px;
  font-weight: 900;
}

.hero img {
  background-color: #E5E7EB;
  margin-left: 30px;
  flex: 1 1 auto;
  width: 50%;
}

.hero button {
  border-radius: 8px;
  border: none;
  padding: 10px 40px;
  background-color: #3882F6;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.info h2 {
  padding-top: 20px;
  font-size: 36px;
  font-weight: 900;
  text-align: center;
  margin-bottom: 50px;
}

.features {
  text-align: center;
  justify-content: center;
  gap: 50px;
  margin-bottom: 100px;
}

.features li {
  width: 200px;
}

.features .img {
  width: 200px;
  height: 200px;
  border: 5px solid #3882F6;
  border-radius: 20px;
}

.features p {
  margin-top: 10px;
}

.quotes {
  background-color: #e5e7eb;
}

.quotes .quote {
  padding: 150px 100px;
  font-size: 36px;
  font-style: italic;
  color: #1f2937;
}

.quotes .author {
  margin-top: 20px;
  text-align: right;
  font-size: 22px;
  font-style: normal;
  font-weight: bold;
}

.signup {
  padding: 60px;
  margin: 120px auto;
  background-color: #3882F6;
  border-radius: 15px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.signup .cta {
  display: flex;
  flex-direction: column;
}

.cta h3 {
  margin: 0;
}

.signup button {
  padding: 8px 35px;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  background-color: transparent;
  font-size: 18px;
}

.signup .cta-text {
  color: #e5e7eb;
}

.footer {
  padding: 50px 0;
  text-align: center;
}