* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  margin: 0;
}

.top, .footer {
  background-color: #1F2937;
  color: #f9faf8;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.header .logo {
  font-size: 24px;
  font-weight: bold;
  display: flex;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .nav ul {
  list-style: none;
  display: flex;
}

.header .nav li a {
  text-decoration: none;
  color: #e5e7eb;
  margin-left: 30px;
}

.hero {
  padding: 60px 0;
  display: flex;
}

.hero .content {
  flex: 0 1 auto;
  width: 50%;
}

.hero .title {
  font-size: 64px;
  font-weight: 900;
}

.hero img {
  background-color: #E5E7EB;
  margin-left: 30px;
  flex: 1 1 auto;
  width: 50%;
}